.tradivas-btn{
    background-color: var(--tradivas-btn-bg-color) !important;
    border: none !important;
    color: var(--tradivas-btn-color) !important;
}

.tradivas-btn:hover{
    background-color: var(--tradivas-btn-bg-hilite-color) !important;
    color: var(--tradivas-btn-hilite-color) !important;
}

input:focus, input[type]:focus, textarea:focus, select:focus{
    outline: 0 none !important;
    border-color: var(--tradivas-input-outline-color) !important;
    box-shadow: 0 1px 1px var(--tradivas-input-outline-color) inset, 0 0 8px var(--tradivas-input-outline-color) !important;
}

.tradivas-full-header{
    background: linear-gradient(to bottom, var(--tradivas-bg-color-start), var(--tradivas-bg-color-stop) var(--tradivas-bg-color-start-proportion)) no-repeat;
}

.tradivas-header{
    height: 200px;
}

.tradivas-header .row{
    height: 100%;
}

.tradivas-logo, .tradivas-logo:visited{
    width: 300px;
    height: 180px;
    outline: 1px dashed #98abb9;
    outline-offset: -5px;
    background-color: var(--tradivas-bg-color-start);
    box-shadow: 2px 2px 2px gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tradivas-logo:hover{
    text-decoration: none;
}

.tradivas-logo > img{
    width: 100%;
    height: 100%;
}

.tradivas-logo > span{
    font-size: 60px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: var(--tradivas-bg-color-stop);
}

.tradivas-header ul > li{
    display: inline-block;
    font-size: 13px;
    padding-right: 5px;
}

.tradivas-top-nav{
    text-align: right;
}

.tradivas-top-nav ul > li + li{
    border-left: 1px solid var(--tradivas-top-menu-color);
    padding-left: 5px;
}

.tradivas-top-nav ul a, .tradivas-top-nav ul a:visited{
    color: var(--tradivas-top-menu-color);
}

.tradivas-top-nav ul a:hover{
    color: var(--tradivas-top-menu-hilite-color);
}

.tradivas-top-nav .dropdown-menu{
    border: 1px solid var(--tradivas-bg-rule-color);
}

.tradivas-drop-down{
    padding: 0 0 0 2px;
}

.tradivas-drop-down::after{
    vertical-align: .155em !important;
}

.tradivas-hover-dropdown > div.dropdown-menu {
    margin-top: -1px;
    font-size: 13px;
    border: 1px solid var(--tradivas-bg-rule-color);
}

.tradivas-hover-dropdown > div.dropdown-menu > a {
    padding-left: 10px;
}

.tradivas-hover-dropdown:hover > div.dropdown-menu {
    display: block;
}

input#tradivas-query:focus {
    width: 300px;
}

input#tradivas-query:focus + .tradivas-search-icon > span {
    color: var(--tradivas-bg-color-start);
}

.tradivas-nav-search input{
    padding-right: 20px;
}

.tradivas-search-icon{
    background: none;
    border: none;
    margin: 2px 0 0 -27px;
    cursor: pointer;
}

.tradivas-search-icon > span{
    font-weight: normal;
    font-size: 13px;
    color: var(--tradivas-btn-color);
}

.tradivas-bottom-nav{
    margin-top: 20px;
}

.tradivas-bottom-nav ul a, .tradivas-bottom-nav ul a:visited{
    color: var(--tradivas-menu-color);
}

.tradivas-bottom-nav ul a:hover{
    color: var(--tradivas-menu-hilite-color);
}

.tradivas-bottom-nav ul > li{
    display: inline-block;
    font-size: 18px;
    padding-right: 5px;
}

.tradivas-bottom-nav ul > li + li{
    padding-left: 10px;
}

.tradivas-footer-head{
    color: var(--tradivas-footer-header-color);
    font-size: var(--tradivas-footer-header-size);
}

.tradivas-header ul, .tradivas-bottom-nav ul, .tradivas-footer ul{
    text-decoration: none;
    list-style: none;
    padding: 0;
}

.tradivas-footer-head.newsletter{
    font-size: 15px;
}

.tradivas-footer-head-newsletter-form .form-control + .form-control, .tradivas-footer-head-newsletter-form .btn{
    margin-top: 5px;
}

.tradivas-footer ul > li{
    font-size: var(--tradivas-footer-link-size);
}

.tradivas-footer a, .tradivas-footer a:visited{
    color: var(--tradivas-footer-link-color);
}

.tradivas-footer a:hover{
    color: var(--tradivas-footer-link-hilite-color);
}

.tradivas-display{
    width: 100%;
    border-radius: 5px;
}

.tradivas-display img{
    height: 700px !important;
}

.tradivas-ruler{
    border-top: var(--tradivas-bg-rule-width) var(--tradivas-bg-rule-style) var(--tradivas-bg-rule-color);
    margin-top: 20px;
    padding-bottom: 20px;
}

.tradivas-home-card, .tradivas-home-full-card{
    height: 540px;
}

.tradivas-home-card + .tradivas-home-card{
    padding-left: 30px;
}

.tradivas-home-card img, .tradivas-home-full-card img{
    width: 100%;
    height: 100%;
}

.tradivas-home-full-card{
    padding-top: 30px;
}

.tradivas-user-text{
    font-size: 14px;
}

.tradivas-user-form button[type="submit"]{
    margin: 5px 0 0 -10px;
}

.tradivas-user-form .submit{
    align-items: center;
}

.tradivas-user-form a, .tradivas-user-form a:visited{
    display: inline-block;
    padding-left: 10px;
    color: black;
}